
@{
    ViewBag.Title = "Graficos";
}

<h2>Graficos</h2>

<h4>Graficos de columnas</h4>
<img src="@Url.Action("GraficoColumnas")"/>

<h4>Graficos de Barras</h4>
<img src="@Url.Action("GraficoBarras")"/>

<h4>Graficos Tarta</h4>
<img src="@Url.Action("GraficoTarta")/>

<h4>Graficos Radar</h4>
<img src="@Url.Action("GraficoRadar")/>